.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.product-details__image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0; /* Sin padding */
  margin-bottom: 10px;
  box-sizing: border-box;
}

.product-details__image {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

.product-details__title,
.product-details__description,
.product-details__price {
  padding: 0 60px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.product-details__description {
  font-style: italic;
}